@import "./tailwind.pcss";

@import "prism-theme-night-owl/style.css";
@import "prismjs/plugins/toolbar/prism-toolbar.css";

@import "typeface-overpass/index.css";
@import "typeface-overpass-mono/index.css";

@import "./override.pcss";
