*:not(br):not(tr):not(html) {
  font-family: "Overpass", Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  width: 100% !important;
  height: 100%;
  margin: 6rem 5rem;
  line-height: 1.4;
  background-color: #f2f4f6;
  color: #74787e;
  -webkit-text-size-adjust: none;
}

p,
ul,
ol,
blockquote {
  line-height: 1.4;
  text-align: left;
  word-break: break-word;
}

a {
  color: #3869d4;
}

a img {
  border: none;
}

td {
  word-break: break-word;
}

h3 {
  margin-top: 2rem;
  color: dodgerblue;
  font-size: 24px;
  font-weight: bold;
}

h4 {
  margin-top: 0;
  color: dodgerblue;
  font-size: 16px;
  font-weight: bold;
}

h5 {
  margin-top: 0;
  color: dodgerblue;
  font-size: 14px;
  font-weight: bold;
}

p {
  max-width: calc(100vw - 5rem);
  margin-top: 0;
  color: #74787e;
  font-size: 16px;
  line-height: 1.5em;
}

p.sub {
  font-size: 12px;
}

p.center {
  text-align: center;
}
