@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

$primary-color: #0052cc !default;
$dark-color: #172b4d !default;
$light-color: #fff !default;
$success-color: #36b37e !default;
$warning-color: #ffab00 !default;
$error-color: #ff5630 !default;
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$base-font-family: "Nunito" !default;
