@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.material-design-icon {
  display: inline-flex;
  position: relative;
  height: 1em;
  width: 1em;
  margin: 0.2rem;
}
.material-design-icon > .material-design-icon__svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: absolute;
  bottom: -0.125em;
}

.home {
  height: 80vh;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 1.6cm;
  }

  * {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px;
  }

  #print-button,
  #navbar {
    display: none;
  }
}
