@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  @apply text-gray-200 bg-gray-800;
}

.light-mode {
  @apply text-gray-800 bg-gray-200;
}

.material-design-icon {
  display: inline-flex;
  position: relative;
  height: 1em;
  width: 1em;
  margin: 0.1rem;
}
.material-design-icon > .material-design-icon__svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: absolute;
  bottom: -0.125em;
}

.home {
  height: 80vh;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 1.6cm;
  }

  * {
    font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 12px;
  }

  #print-button,
  #navbar {
    display: none;
  }
}
